<div class="wrapper-admin-interface">
  <%= render partial: 'admin/shared/navbar_admin' %>
  <!-- NAV BAR DU HAUT -->
  <div class="content-right">
    <div class="title-navbar">
      <div class="content-title-navbar">
        <h1 id="title-dashboard">Article n°<%= @article.id %></h1>
        <h2>
          <%= link_to root_path do %>
            <i class="fa fa-home" aria-hidden="true"></i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <% end %>
        </h2>
      </div>
    </div>
    <!-- CONTENU HOME PAGE-->
    <div class="content-dashboard" id="home_page_blog">
      <!-- logo & main infos -->
      <div class="row-title">
        <h2>Modifier l'article</h2>
      </div>
      <div class="row-content">
        <div class="content-card page-description" style="width: 100%; padding-bottom:60px">
          <div class="row-nude">
            <%= simple_form_for [:admin, @article] do |f| %>
              <%= f.error_notification %>
            <div class="col-xs-8">
              <h5>- Titre -</h5>
              <%= f.input :title, label: false %>
              <h5>- Courte description -</h5>
              <%= f.input :short_description, label: false %>
              <div class="col-xs-12 col-sm-6" style="padding-right:5px">
              <h5>- Lieu -</h5>
              <%= f.input :address, label: false %>
              </div>
              <div class="col-xs-12 col-sm-6" style="padding-left:5px">
              <h5>- La Catégorie -</h5>
              <%= f.input :category_id, label: false, collection: @categories %>
              </div>
            </div>
            <div class="col-xs-4">
              <h5>- Date de publication -</h5>
              <%= f.input :date, label: false %>
              <h5>- Photo de l'article -</h5>
              <%= cl_image_tag @article.photo, style:"width: 100%;" %>
              <a id="change-photo-form-btn" class="btn btn-default edit-btn" style="position:relative;right:0"> <i class="fa fa-plus" aria-hidden="true"></i> Changer la photo</a>
              <div id="change-photo-form" style="display:none;">
                <%= f.input :photo %>
                <%= f.input :photo_cache, as: :hidden %>
              </div>
            </div>
            <div style="text-align: center;">
              <%= f.button :submit, 'Modifier', class:"bahia-btn" %>
              </div>
            <% end %>
          </div>
          <h4>- Ajouter une section -</h4>
          <div id="choice-section-form-btn" class="btn btn-default bahia-btn" style="width: 50%;margin-left: 25%;"> <i class="fa fa-plus" aria-hidden="true"></i> Ajouter une section</div>
          <div class="row-nude" id="style-choice-box" style="display:none;">
              <form id="styleContent">
               <% Content::STYLE.each_with_index do |style, index| %>
                  <input type="radio" name="gender" value="<%= index %>"> <%= style %><br>
                <% end %>
              </form>
              <a id="new-section-form-btn" class="btn btn-default bahia-btn"> <i class="fa fa-plus" aria-hidden="true"></i> Go !</a>
          </div>
          <!-- AFFICHER -->
          <% @contents.each_with_index do |content, index| %>
            <h4> SECTION n° <%= index + 1 %></h4>
            <!-- TEXTE UNIQUEMENT -->
            <% if content.style == "Texte uniquement" %>
              <%= simple_form_for [:admin, content] do |f| %>
              <%= f.error_notification %>
              <h5>- Style -</h5>
              <%= f.input :style, label: false, collection: Content::STYLE %>
              <h5>- Texte -</h5>
              <%= f.input :text, label: false, :input_html => { :class => 'froala-editor'} %>
              <%= f.button :submit, 'Modifier', class:"bahia-btn" %>
              <% end %>
            <% end %>
            <!-- DEUX PHOTOS -->
            <% if content.style == "Deux photos" %>
              <%= simple_form_for [:admin, content] do |f| %>
              <%= f.error_notification %>
              <h5>- Style -</h5>
              <%= f.input :style, label: false, collection: Content::STYLE %>
                <div class="col-xs-6">
                  <%= cl_image_tag content.photo, height: 150, width: 300 %>
                  <%= f.input :photo %>
                  <%= f.input :photo_cache, as: :hidden %>
                </div>
                <div class="col-xs-6">
                  <%= cl_image_tag content.photo2, height: 150, width: 300 %>
                  <%= f.input :photo2 %>
                  <%= f.input :photo2_cache, as: :hidden %>
                </div>
                <%= f.button :submit, 'Modifier', class:"bahia-btn" %>
                <% end %>
              <% end %>
            <!-- Une vidéo -->
            <% if content.style == "Une vidéo" %>
              <%= simple_form_for [:admin, content] do |f| %>
                <%= f.error_notification %>
                <h5>- Style -</h5>
                <%= f.input :style, label: false, collection: Content::STYLE %>
                <h5>- Lien de la vidéo Youtube -</h5>
                <%= f.input :video, label: false %>
                <%= f.button :submit, 'Modifier', class:"bahia-btn" %>
              <% end %>
            <% end %>
            <!-- Une photo -->
            <% if content.style == "Une photo" %>
              <%= simple_form_for [:admin, content] do |f| %>
                <%= f.error_notification %>
                <h5>- Style -</h5>
                <%= f.input :style, label: false, collection: Content::STYLE %>
                <div class="col-xs-7">
                  <%= cl_image_tag content.photo, style:"width:100%" %>
                </div>
                <div class="col-xs-5">
                <h5>- Description de la photo -</h5>
                <%= f.input :text, label: false %>
                <h5>- Changer la photo -</h5>
                <%= f.input :photo %>
                <%= f.input :photo_cache, as: :hidden %>
                <%= f.button :submit, 'Modifier', class:"bahia-btn" %>
                </div>
              <% end %>
            <% end %>
            <!-- Un portrait -->
            <% if content.style == "Portrait artisan" %>
              <%= simple_form_for [:admin, content] do |f| %>
                <%= f.error_notification %>
                <h5>- Style -</h5>
                <%= f.input :style, label: false, collection: Content::STYLE %>
                <div class="col-xs-8">
                  <h5>- Description de l'artisan(e) -</h5>
                  <%= f.input :text, label: false, :input_html => { :class => 'froala-editor'} %>
                </div>
                <div class="col-xs-4">
                  <%= cl_image_tag content.photo, style:"width:100%" %>
                  <%= f.input :photo %>
                  <%= f.input :photo_cache, as: :hidden %>
                </div>
                <%= f.button :submit, 'Modifier', class:"bahia-btn" %>
              <% end %>
            <% end %>
          <% end %>
          <!-- FIN DE L'AFFICHAGE -->
          <h4>- LES TAGS DE REGIONS</h4>
          <div class="row-nude" style="text-align:center">
            <!-- <div class="col-xs-6">
              <h5 style="margin-top: 20px">- La Catégorie -</h5>
              <#% @categories.each do |category| %>
                <div class="category-show-tags">
                  <span class="category-show-tags-h3">
                    <i class="fa fa-tag" aria-hidden="true"></i>
                     <#%= category.name %>
                  </span>
                      <#% category4a = category.category4as.select {|c4a| c4a.article = @article }.first %>
                   <#%= link_to admin_category4a_path(category4a), :method => :delete do %>
                    <i class="fa fa-trash-o" aria-hidden="true" ></i>
                   <#% end %>
                </div> -->
             <!--  <#% end %> -->
                <!-- <a id="new-category-form-btn" class="btn btn-default edit-btn"> <i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
                <div id="new-category-form">
                  <h5>- Nouvelle catégorie -</h5>
                  <#%= simple_form_for [:admin, @category4a] do |f| %>
                    <#%= f.error_notification %>
                    <#%= f.input :category_id, label: false, collection: @all_categories %>
                    <div style="display:none;">
                      <#%= f.input :article_id, label: false %>
                    </div>
                    <#%= f.button :submit, 'Ajouter la thématique', class:"edit-btn" %>
                  <#% end %>
                </div>
            </div> -->
              <% @regions.each do |region| %>
                <div class="category-show-tags">
                  <span class="category-show-tags-h3">
                    <i class="fa fa-tag" aria-hidden="true"></i>
                     <%= region.name %>
                  </span>
                      <% region4a = region.region4as.select {|r4a| r4a.article = @article }.first %>
                   <%= link_to admin_region4a_path(region4a), :method => :delete do %>
                    <i class="fa fa-trash-o" aria-hidden="true" ></i>
                   <% end %>
                </div>
              <% end %>
                <a id="new-region-form-btn" class="btn btn-default bahia-btn"> <i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a>
                <div id="new-region-form">
                  <h5>- Nouvelle Région -</h5>
                  <%= simple_form_for [:admin, @region4a] do |f| %>
                    <%= f.error_notification %>
                    <%= f.input :region_id, label: false, collection: @all_regions %>
                    <div style="display:none;">
                      <%= f.input :article_id, label: false %>
                    </div>
                    <%= f.button :submit, 'Ajouter la région', class:"bahia-btn" %>
                  <% end %>
                </div>
          </div>









            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('.menu-card').removeClass('active');
    $('#edit-articles-navbar-btn').addClass('active');


    $('#new-category-form-btn').on("click", function(){
      $('#new-category-form-btn').css( "display", "none");
      $('#new-category-form').css( "display", "block");
    });

    $('#new-region-form-btn').on("click", function(){
      $('#new-region-form-btn').css( "display", "none");
      $('#new-region-form').css( "display", "block");
    });

    $('#change-photo-form-btn').on("click", function(){
      $('#change-photo-form-btn').css( "display", "none");
      $('#change-photo-form').css( "display", "block");
    });

    $("#choice-section-form-btn").on("click", function(){
      $('#choice-section-form-btn').css( "display", "none");
      $('#style-choice-box').css( "display", "inline");
    });

    $("#new-section-form-btn").on("click", function(){
      var choiceChecked = $('input[name=gender]:checked', '#styleContent').val();
      document.location = "/admin/contents/new" + "?style=" + choiceChecked + "&" + "article_id=" + "<%= @article.id %>";
    })

  <% end %>
<% end %>
