<%= render 'shared/navbar' %>

<div class="wrapper-show-article">
  <!-- CONTENU DE L'ARTICLE -->
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="article-show" id="<%= @article.id %>">
        <% mexico_photo_url = image_path "photo_mexique_1.jpg" %>
        <% photo_url = @article.photo || mexico_photo_url %>
        <div class="article-photo" style="background-image:url('<%= photo_url %>')">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm 4">
       <div id="map" style="widows: 100%; height: 100%;"></div>
    </div>
  </div>
      <div class="article-title">
        <h4 class="categ">
          <% @article.regions.each do |region| %>
          <i class="fa fa-tag" aria-hidden="true"></i> <%= region.name %>
          <% end %>
          <i class="fa fa-tag" aria-hidden="true"></i>
          Artisanat</h4>

      </div>
      <div class="article-title">
        <h3><%= @article.title %></h3>
        <% avatar_url =  @article.user.photo || "https://cdn4.iconfinder.com/data/icons/linecon/512/photo-512.png" %>
        <h4 class="article-details" ><i class="fa fa-calendar-o" aria-hidden="true"></i> <%= @article.date.strftime("%e %b %Y") %> <i class="fa fa-comment-o margin-left-20" aria-hidden="true"></i> <%= @article.comments.count %>  <img class="user-photo" src="<%= avatar_url %>" alt="">Par <%= @article.user.first_name %></h4>
      </div>
      <div class="article-content">
        <%= @article.content.html_safe %>
      </div>
    </div>
  </div>
  <!-- CARTES ET AUTRES ARTICLES -->
  <div class="col-xs-12 col-sm-4">
    <div class="show-article-map">
      <div class="dynamic-map" style="min-height:380px">
        <div class="box-title-map">
          <div class="description-map-box">
            <% if @regions.count == 0 %>
            <% elsif @regions.count == 1 %>
            <h3>Région : <%= @regions.first.name %></h3>
            <% else %>
              <h3>Régions :</h3>
              <% @regions.each do |region| %>
              <span class="region-selector" data-name="<%= region.name %>"><%= region.name %></span>
              <% end %>
            <% end %>
            <span id="all-regions-selector">Mexique</span>
          </div>
        </div>
        <%= render partial: 'shared/mexico_map' %>
        <div class="region-selector">
          <div id="region-map-selector" >
            <h3>Choisissez<br>une autre région</h3>
          </div>
        </div>
      </div>
      <div class="dynamic-map" style="margin-top:20px;padding:0px">
        <div class="box-title-map">
          <div class="description-map-box" id="comments-box">
            <h3>Commentaires</h3>
            <% @comments.each do |comment| %>
            <div class="comment-show-box">
              <b><%= comment.title %></b> par <%= comment.first_name %>
              <div class="content-comment">
                <%= comment.content %>
              </div>
            </div>
            <% end %>
            <button id="comment-form-btn" class="btn btn-default bahia-btn">
              Ajouter un commentaire
            </button>
          </div>
          <div class="comment-form" style="display:none">
            <%= simple_form_for [@new_comment] do |f| %>
              <%= f.error_notification %>
              <%= f.input :first_name, label: "Votre prénom" %>
              <div class="no-display" style="display:none">
                <%= f.input :article_id, label: false %>
              </div>
              <%= f.input :email, label: "Votre email" %>
              <%= f.input :title, label: "Titre" %>
              <%= f.input :content, label: "Votre commentaire" %>
              <%= f.button :submit, 'Go :)', class:"edit-btn" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="suggest-articles">
        <% @other_articles.each do |article| %>
        <!-- TO DO : mettre les derniers articles -->
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer' %>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

      <% @regions.each do |region| %>
      $('*[data-name="<%= region.name %>"]').addClass("state--selected");
      <% end %>

      $(".map g").mouseover( function(){
        var regionName = $(this).data("region");
        $('#region-map-selector').hide().html(regionName).fadeIn(100);
      });

      $(".map g").mouseout(function(){
        $('#region-map-selector').html("<h3>Choisissez <br>une autre région</h3>");
      });

      $(".map g g").on("click", function(){
        var regionNameh1 = $(this).data("name");
        console.log(regionNameh1);
        document.location = "/map" + "?region=" + regionNameh1;
      });

      $('#all-regions-selector').on("click", function(){
          document.location = "/map";
      });

      $('.region-selector').on("click", function(){
         var regionName = $(this).data("name");
        document.location = "/map" + "?region=" + regionName;
      })

      $('#comment-form-btn').on("click", function() {
        $('#comments-box').css("display", "none");
        $('.comment-form').css("display", "block");
      })
  <% end %>
<% end %>






var centerlocation = {lat: 23.634501, lng:  -102.552784};
      var setzoomvariable = 5;
      var mapStyle = [
        {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": "1"
            },
            {
                "color": "#9f1723"
            },
            {
                "lightness": "0"
            },
            {
                "gamma": "0.90"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#f3eaea"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f3eaea"
            },
            {
                "lightness": "0"
            },
            {
                "saturation": "0"
            },
            {
                "weight": "0.01"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f1f1f1"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 18
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 17
            }
        ]
    }
];
      var handler = Gmaps.build('Google');
      handler.buildMap(
        {internal: { id: 'map' },
        provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
        }},
        function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.map.centerOn(centerlocation);
        handler.getMap().setZoom(setzoomvariable);
        <!-- handler.fitMapToBounds(); -->
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
