<%= render 'shared/navbar' %>
<% meta_tag :description, @article.short_description %>
<% meta_tag :'og:title', @article.title %>
<% if @article.photo %>
  <% meta_tag :'og:image', cl_image_path(@article.photo) %>
  <% meta_tag :image_url, cl_image_path(@article.photo) %>
<% end %>
<% meta_tag :'og:description', @article.short_description %>

<div class="wrapper-show-article">
  <!-- PHOTO & MAP -->
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <% photo_url = @article.photo || mexico_photo_url %>
      <% mexico_photo_url = image_path "photo_mexique_1.jpg" %>
      <div class="article-photo" style="background-image:url('<%= photo_url %>')">
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="map-card-article">
         <div id="map" style="widows: 100%; height: 100%;"></div>
      </div>
    </div>
  </div>
  <!-- CONTENU ARTICLE -->
  <div class="row article-show">
    <!-- LES TAGS -->
    <div class="article-title">
      <h4 class="categ">
        <% @article.regions.each do |region| %>
        <i class="fa fa-tag" aria-hidden="true"></i> <%= region.name %>
        <% end %>
        <% if !@article.category.nil? %>
        <i class="fa fa-tag" aria-hidden="true"></i>
        <%= @article.category.name %>
        <% end %>
      </h4>
    </div>
    <!-- TITRE & INFOS -->
    <div class="article-title">
      <h3><%= @article.title %></h3>
      <% avatar_url =  @article.user.photo || "https://cdn4.iconfinder.com/data/icons/linecon/512/photo-512.png" %>
      <h4 class="article-details" ><i class="fa fa-calendar-o" aria-hidden="true"></i> <%= @article.date.strftime("%e %b %Y") %> <i class="fa fa-heart-o" aria-hidden="true" id="add-heart"></i> <span id="nb-like"><%= @article.heart %></span><i class="fa fa-comment-o margin-left-20" aria-hidden="true"></i> <%= @article.comments.count %>  <img class="user-photo" src="<%= avatar_url %>" alt="">Par <%= @article.user.first_name %></h4>
    </div>
    <% @contents.each do |content| %>
    <div class="article-content" style="text-align:justify">
        <!-- TEXTE UNIQUEMENT -->
        <% if content.style == "Texte uniquement" %>
          <%= content.text.html_safe %>
        <!-- DEUX PHOTOS -->
        <% elsif content.style == "Deux photos" %>
          <div class="row">
            <div class="col-xs-12 col-sm-6 show-photo" style="padding-left:0">
              <%= cl_image_tag content.photo, style: "width:100%" %>
              <div class="photo-description"><p><%= content.photo_description %></p></div>
            </div>
            <div class="col-xs-12 col-sm-6 show-photo" style="padding-right:0">
              <%= cl_image_tag content.photo2, style: "width:100%" %>
              <div class="photo-description"><p><%= content.photo_description2 %></p></div>
            </div>
          </div>
        <!-- Une vidéo -->
        <% elsif content.style == "Une vidéo" %>
          <div class="row">
            <%= content.video %>
            <%= content.text.html_safe %>
          </div>
        <!-- Une photo -->
        <% elsif content.style == "Une photo" %>
          <div class="show-photo" style="margin:0;padding:0;">
            <%= cl_image_tag content.photo, style: "width:100%" %>
            <div class="photo-description"><p><%= content.photo_description %></p></div>
          </div>
        <!-- Un portrait -->
        <% elsif content.style == "Portrait artisan" %>
        <div class="row">
          <div class="col-xs-12 col-sm-6 show-photo" style="padding-left:0">
            <%= cl_image_tag content.photo, style: "width:100%" %>
            <div class="photo-description"><p><%= content.photo_description %></p></div>
          </div>
          <div class="col-xs-12 col-sm-6" style="padding-right:0">
           <%= content.text.html_safe %>
          </div>
        </div>
        <% end %>
      <!-- FIN DE L'AFFICHAGE -->

    <!-- AFFICHER CONTENT -->
  </div>
  <% end %>


      <div class="dynamic-map">
        <div class="box-title-map">
          <div class="description-map-box" id="comments-box">
            <% if @comments.count >= 1 %>
            <h3>
              <%= @comments.count %> Commentaire
              <% if @comments.count >1 %>s
              <% end %>
            </h3>
            <% end %>
            <% @comments.each do |comment| %>
            <div class="comment-show-box">
              <b><%= comment.title %></b> par <%= comment.first_name %>
              <div class="content-comment">
                <%= comment.content %>
              </div>
            </div>
            <% end %>
            <button id="comment-form-btn" class="btn btn-default bahia-btn">
              Ajouter un commentaire
            </button>
          </div>
          <div class="comment-form" style="display:none">
            <%= simple_form_for [@new_comment] do |f| %>
              <%= f.error_notification %>
              <%= f.input :first_name, label: "Votre prénom" %>
              <div class="no-display" style="display:none">
                <%= f.input :article_id, label: false %>
              </div>
              <%= f.input :email, label: "Votre email" %>
              <%= f.input :content, label: "J'ai envie de vous dire..." %>
              <%= f.button :submit, 'Vamos!', class:"bahia-btn" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="suggest-articles">
        <% @other_articles.each do |article| %>
        <!-- TO DO : mettre les derniers articles -->
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<%= render 'shared/footer' %>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

      var mapStyle = [
        {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": "1"
            },
            {
                "color": "#9f1723"
            },
            {
                "lightness": "0"
            },
            {
                "gamma": "0.90"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#f3eaea"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f3eaea"
            },
            {
                "lightness": "0"
            },
            {
                "saturation": "0"
            },
            {
                "weight": "0.01"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f1f1f1"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 18
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 17
            }
        ]
    }
];
      var handler = Gmaps.build('Google');
      handler.buildMap(
        {internal: { id: 'map' },
        provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
        }},
        function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(6);
        }
      });


      $('#comment-form-btn').on("click", function() {
        $('#comment-form-btn').css("display", "none");
        $('.comment-form').css("display", "block");
      });


      $('#add-heart').on("click", function() {
        $('#add-heart').removeClass("fa-heart-o");
        $('#add-heart').addClass("fa-heart");
        addHeart = <%= @article.heart %> + 1;
        console.log(addHeart);
        $('#nb-like').html(addHeart);
        sessionStorage.setItem('heartArticle<%= @article.id %>', 1);
        $.ajax({
          type: "PUT",
          dataType: 'script',
          url: "/articles/<%= @article.id %>",
          data: { article: { heart: addHeart}, method: 'put'  },
          success:function(data){
                console.log("it is working!");
            },
          error:function(data){
            console.log("it is NOT working!");
          },
        });

      });


      $(document).ready(function(){
      var heartArticle<%= @article.id %> = sessionStorage.getItem('heartArticle<%= @article.id %>');
      if (heartArticle<%= @article.id %> == 1) {
        $('#add-heart').removeClass("fa-heart-o");
        $('#add-heart').addClass("fa-heart");
        <!-- sessionStorage.setItem('heartArticle<#%= @article.id %>', 1); -->
        }
      });
  <% end %>
<% end %>



