<div class="wrapper-admin-interface">
  <!-- MENU -->
  <%= render partial: 'admin/shared/navbar_admin' %>
  <!-- NAV BAR DU HAUT -->
  <div class="content-right">
    <div class="title-navbar">
      <div class="content-title-navbar">
        <h1 id="title-dashboard">Le Blog</h1>
        <h2>
          <%= link_to root_path do %>
            <i class="fa fa-home" aria-hidden="true"></i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <% end %>
        </h2>
      </div>
    </div>
    <!-- CONTENU HOME PAGE-->
    <div class="content-dashboard" id="home_page_blog">
      <!-- logo & main infos -->
      <div class="row-title">
        <h2>Editer la page blog</h2>
      </div>
      <div class="row-content">
        <div class="content-card page-description">
          <div class="row-nude">
            <div class="col-xs-6">
              <h4>Le contenu</h4>
              <h5>- Titre de la page -</h5>
              <%= render partial: "shared/edit_page_info", locals: {info: @infos.first} %>
              <h5>- Description -</h5>
              <%= render partial: "shared/froala_edit_page_info", locals: {info: @infos[1]} %>
              <h5>- Titre du Compte à Rebours -</h5>
              <%= render partial: "shared/edit_page_info", locals: {info: @infos[2]} %>
            </div>

            <div class="col-xs-6" ">
              <h4>Preview</h4>
              <img src="https://s27.postimg.org/peh646ghf/Capture_d_e_cran_2017_01_07_a_18_18_15.png" style="width:100%"/>
              <button href="#" class="btn btn-default edit-btn" style="right: 126px;">Refresh preview </button>
              <a href="/" class="btn btn-default edit-btn"> Aller à la page </a>
            </div>
          </div>

          <div class="separator"></div>

          <div class="row-nude">
            <div class="col-xs-6">
              <h4>Le contenu</h4>
              <h5>- Titre de la carte -</h5>
              <%= render partial: "shared/edit_page_info", locals: {info: @title_region_map} %>
              <h5>- Titre des Thématiques -</h5>
              <%= render partial: "shared/edit_page_info", locals: {info: @title_category} %>
            </div>

            <div class="col-xs-6" ">
              <h4>Preview</h4>
              <img src="https://s29.postimg.org/nombyhnzb/Capture_d_e_cran_2017_01_09_a_14_11_50.png" style="width:100%"/>
              <button href="#" class="btn btn-default edit-btn" style="right: 126px;">Refresh preview </button>
              <a href="/" class="btn btn-default edit-btn"> Aller à la page </a>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- <iframe id="preview-homepage" src="/">
    </iframe> -->
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('.froala-simple-editor').froalaEditor({
      toolbarButtons: [
          'bold', 'italic', 'underline', 'paragraphFormat', 'formatOL',
          'formatUL', 'insertHTML', 'undo', 'redo', 'html'
      ]
    });
  <% end %>
<% end %>
