

<div class="modal fade bs-example-modal-sm" id="bahialetterModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-text">
        <h2>Inscrivez-vous à la Bahia Letter</h2>
        <p>Pour être mis au courant de tous les bons plans et entrer dans la communauté Bahia</p>
        <%= simple_form_for @contact do |f| %>
          <%= f.error_notification %>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>Votre prénom</h4>
              <%= f.input :first_name, label: false %>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Votre nom</h4>
              <%= f.input :last_name, label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Votre e-mail</h4>
              <%= f.input :email, label: false %>
            </div>
          </div>
          <div class="row" style="text-align:center">
            <div class="col-xs-12">
              <%= f.button :submit, 'Vamos!', class:"bahia-btn" %>
            <a value="Fermer" class="btn btn-default bahia-btn" id="fermer-button">Fermer</a>
            </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $('#mc-embedded-subscribe').on("click", function(){
    $('#bahialetterModal').css("display", "block");
  });
  $('#fermer-button').on("click", function(){
    $('#bahialetterModal').modal('hide');
  })
  <% end %>
<% end %>
