

<div class="modal fade bs-example-modal-sm" id="bahialetterModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="background-image:url('<%= cl_image_path("AQUARELLES/Soleil_rotate.png", :angle=>-10) %>');    background-repeat: no-repeat; background-size: 50%;    background-position: -100px -120px;">
      <div class="modal-text">

        <a value="Fermer" id="fermer-button">x</a>
        <h2>Inscrivez-vous à la Bahia Letter</h2>
        <p>Rejoignez la communauté Bahia :)</p>
        <%= simple_form_for @contact do |f| %>
          <%= f.error_notification %>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>Votre prénom</h4>
              <%= f.input :first_name, label: false %>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Votre nom</h4>
              <%= f.input :last_name, label: false %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Votre e-mail</h4>
              <%= f.input :email, label: false %>
            </div>
          </div>
          <div class="row" style="text-align:center">
            <div class="col-xs-12">
              <%= f.button :submit, 'Vamos!', class:"bahia-btn", id:"submit-enews" %>
              <!-- <a class="btn default-btn bahia-btn" id="submit-enews">Vamos!</a> -->
            </div>
            </div>
          </div>
        <% end %>
        <div id="thanks_message" style="display:none;">
          <h4 class="message-text">Merci !!</h4>
        </div>
        <div id="error_message" style="display:none;">
          <h4 class="message-text">Oups ! Petit problème, veuillez recommencer !</h4>
        </div>
      </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  $('#mc-embedded-subscribe').on("click", function(){
    $('#bahialetterModal').css("display", "block");
  });
  $('#fermer-button').on("click", function(){
    $('#bahialetterModal').modal('hide');
  })

  $(document).ready(function(){
    $('#submit-enews').on("click", function(){
      var firstName = $('#contact_first_name').val();
      console.log(firstName);
      var lastName = $('#contact_last_name').val();
      console.log(lastName);
      var email = $('#contact_email').val();
      console.log(email);
      var message = "Inscription Bahia Letter";
      console.log(message);
      e.preventDefault();
      $.ajax({
        type: "POST",
        dataType: 'script',
        url: "/contacts",
        data: { contact: { first_name: firstName, message: message,  last_name: lastName, email: email } },
        success:function(data){
              console.log("it is working!");
              $('#new_contact').css("display" , "none");
              $('#thanks_message').css("display", "block");
          },
        error:function(data){
          console.log("it is NOT working!");
          $('#error_message').css("display", "block");
        }
      });
      return false;
  <!--     document.location = $(location).attr('href') + "?firstname=" + firstName + "&" + "email=" + email;
   -->    <!-- window.history.pushState({firstName: firstName} , "", "?firstname=" + firstName + "&lastname=" + lastName + "&email=" + email); -->

    })
  })
  <% end %>
<% end %>
