<%= link_to article_path(article) do %>
  <h2><%= article.title %></h2>
  <% avatar_url =  article.user.photo || "https://cdn4.iconfinder.com/data/icons/linecon/512/photo-512.png" %>
  <h4><i class="fa fa-calendar-o" aria-hidden="true"></i> <%= article.date.strftime("%e %b %Y") %> <i class="fa fa-comment-o margin-left-20" aria-hidden="true"></i> <%= article.comments.count %>  <img class="user-photo" src="<%= avatar_url %>" alt="">Par <%= article.user.first_name %></h4>
  <p><%= article.short_description %></p>
  <% if article.photo? %>
    <%= cl_image_tag article.photo, class: "article-photo" %>
  <% end %>
<% end %>
