
<%= render 'shared/navbar' %>
<div class="homepage-photos">
   <h1><%= @infos.first.content %></h1>
    <%= render 'shared/countdown' %>
</div>


<div class="wrapper-blog-home">
  <div class="row-map-and-content">
    <div class="dynamic-map">
      <div class="box-title-map">
      <div id="description-map-box">
        <h3><%= @title_region_map.content %></h3>
      </div>
      </div>
       <%= render partial: 'shared/mexico_map' %>
    </div>
    <div class="dynamic-map">
      <div class="box-title-map">
      <div id="description-map-box">
        <h3><%= @title_category.content %></h3>
        <div class="intro-blog">
          <% @categories.each do |categ| %>

          <div class="card-photo" id="<%= categ.code %>" style="background-image: url('<% if categ.photo? %><%= cl_image_path categ.photo %><% else %>http://www.businesstravel.fr/images/stories/destinations/mexique/cholula-mexique.jpg<% end %>');background-position:center center;background-repeat:no-repeat;background-size:cover;">
            <h2><%= categ.name %></h2>
            <p><%= categ.short_description %></p>
          </div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    $(".map g").mouseover( function(){
      var regionName = $(this).data("region");
      $('#description-map-box').hide().html(regionName).fadeIn(100);
    });

    $(".map g").mouseout(function(){
      $('#description-map-box').html("<h3><%= @title_region_map.content %></h3>");
    });

    $(".map g g").on("click", function(){
      $(".map g g").removeClass("state--selected");
      $(this).addClass("state--selected");
      var regionNameh1 = $(this).data("name");
      console.log(regionNameh1);
      document.location = "/map" + "?region=" + regionNameh1;
    })

    $(".card-photo").on("click", function(){
      var nameCategory = $(this).attr('id');
      console.log(nameCategory);
      document.location = "/map" + "?category=" + nameCategory;
    })

  <% end %>
<% end %>
