
<%= render 'shared/navbar' %>
<div class="homepage-photos">
   <h1><%= @infos.first.content %></h1>
    <%= render 'shared/countdown' %>
</div>

<div class="wrapper-blog-home">
  <div class="intro-blog">
    <div class="card-photo" id="artisanat">
      <h2><%= @infos[3].content %></h2>
      <p><%= @infos[4].content %></p>
    </div>
    <div class="card-photo" id="visits">
    <h2><%= @infos[5].content %></h2>
    <p><%= @infos[6].content %></p>
    </div>
  </div>
</div>
