<%= render 'shared/navbar' %>
<div class="wrapper-map">
  <div class="row-map-and-content">
    <div class="dynamic-map">
      <div class="box-title-map">
      <div id="description-map-box">
        <% if params[:region] %>
        <h3><%= params[:region] %></h3>
        <% else %>
        <h3><%= @title_region_map.content %></h3>
        <% end %>
      </div>
      </div>
      <div style="text-align:center">
        <span id="all-regions-selector"> toutes les régions </span>
      </div>
       <%= render partial: 'shared/mexico_map' %>
    </div>
    <div class="content-articles">

      <% if params[:region] || params[:category] %>
        <% if @articles.count == 0 %>
          <%= render partial: 'shared/category_selector', locals: {categories: @all_categories} %>
          <div class="no-article">
            <h3>Pas d'article pour l'instant !</h3>
          </div>
        <% else %>
          <%= render partial: 'shared/category_selector', locals: {categories: @all_categories} %>
          <% @articles.each do |article| %>
            <%= link_to article_path(article) do %>
            <%= render partial: 'shared/article_miniature', locals: {article: article} %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= render partial: 'shared/category_selector', locals: {categories: @all_categories} %>
        <% @all_articles.each do |article| %>
          <%= link_to article_path(article) do %>
          <%= render partial: 'shared/article_miniature', locals: {article: article} %>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <% if params[:region] %>
      $('*[data-name="<%= params[:region] %>"]').addClass("state--selected");
    <% end %>

    $(".map g").mouseover( function(){
      var regionName = $(this).data("region");
      $('#description-map-box').hide().html(regionName).fadeIn(100);
    });

    $(".map g").mouseout(function(){
      <% if params[:region] %>
      $('#description-map-box').html("<h3><%= params[:region] %></h3>");
      <% else %>
      $('#description-map-box').html("<h3><%= @title_region_map.content %></h3>");
      <% end %>
    });

    $(".map g g").on("click", function(){
      $(".map g g").removeClass("state--selected");
      $(this).addClass("state--selected");
      var regionNameh1 = $(this).data("name");
      console.log(regionNameh1);
      <% if params[:category].nil? %>
      document.location = "/map" + "?region=" + regionNameh1;
      <% else %>
      document.location = "/map" + "?region=" + regionNameh1 + "&" + "category=" + "<%= params[:category] %>";
      <% end %>
    })


      $(".category-choice").on("click", function(){
        var categoryName = $(this).data("name");
        console.log(categoryName);
        <% if params[:region].nil? %>
          console.log("pas de region sélectionnée");
          document.location = "/map" + "?category=" + categoryName;
        <% else %>
          console.log("<%= params[:region]%> sélectionnée");
           document.location = "/map" + "?region=" + "<%= params[:region] %>" + "&" + "category=" + categoryName  ;
        <% end %>
      });

      $('#all-categories-selector').on("click", function(){
        <% if params[:region].nil? %>
          document.location = "/map";
        <% else %>
          document.location = "/map" + "?region=" + "<%= params[:region] %>";
        <% end %>
      });

      $('#all-regions-selector').on("click", function(){
        <% if params[:category].nil? %>
          document.location = "/map";
        <% else %>
          document.location = "/map" + "?category=" + "<%= params[:category] %>";
        <% end %>
      });

  <% end %>
<% end %>
