<%= render 'shared/navbar' %>

<div class="wrapper-map">
  <div class="row">
    <div class="title-map-page">
        <div class="text">
        <% if params[:category] %>
         <h1><%= @category.name %></h1>
          <h2><%= @category.short_description %></h2>
        <% else %>
          <h1>Les Articles</h1>
          <h2>Découvrez notre voyage au Mexique</h2>
        <% end %>

        </div>
        <% if params[:category] == "VOYAGE" %>
          <%= cl_image_tag "AQUARELLES/Cactus2.png", class:"cactus-left" %>
        <% else %>
          <%= cl_image_tag "AQUARELLES/Fleurs.png", class:"flower-left" %>
        <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="map-box">
        <div id="map" style="widows: 100%; height: 100%;"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <% if params[:category] %>
        <% if @articles.count == 0 %>
          <div class="no-article">
            <h3>On s’envole, les articles arrivent bientôt </h3>
          </div>
        <% else %>
          <% @articles.each do |article| %>
            <%= link_to article_path(article) do %>
            <%= render partial: 'shared/article_miniature', locals: {article: article} %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% @all_articles.each do |article| %>
          <%= link_to article_path(article) do %>
          <%= render partial: 'shared/article_miniature', locals: {article: article} %>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

      $('#all-regions-selector').on("click", function(){
        <% if params[:category].nil? %>
          document.location = "/map";
        <% else %>
          document.location = "/map" + "?category=" + "<%= params[:category] %>";
        <% end %>
      });

      $(".card-photo").on("click", function(){
      var nameCategory = $(this).attr('id');
      console.log(nameCategory);
      document.location = "/map" + "?category=" + nameCategory;
    })

      var centerlocation = {lat: 23.634501, lng:  -102.552784};
      var setzoomvariable = 5;
      var mapStyle = [
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": "1"
            },
            {
                "color": "#9f1723"
            },
            {
                "lightness": "0"
            },
            {
                "gamma": "0.90"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#f3eaea"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f3eaea"
            },
            {
                "lightness": "0"
            },
            {
                "saturation": "0"
            },
            {
                "weight": "0.01"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f1f1f1"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 18
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 17
            }
        ]
    }
];

      var centerlocation = {lat: 23.634501, lng:  -102.552784};
      var setzoomvariable = 5;

      var handler = Gmaps.build('Google');
      handler.buildMap(
        {internal: { id: 'map' },
        provider: {
        scrollwheel: false,
        <!-- zoomControl: false, -->
        styles: mapStyle,
        }},
        function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        <!-- handler.bounds.extendWith(markers); -->
        handler.map.centerOn(centerlocation);
        handler.getMap().setZoom(setzoomvariable);
        <!-- handler.fitMapToBounds(); -->
        if (markers.length == 0) {
          handler.getMap().setZoom(setzoomvariable);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(setzoomvariable);
        }
      });

  <% end %>
<% end %>
