<%= render 'shared/navbar' %>
<div class="wrapper-map">
  <div class="row-map-and-content">
    <div class="dynamic-map">
      <div class="box-title-map">
      <div id="description-map-box">
        <% if params[:region] %>
        <h3><%= params[:region] %></h3>
        <% elsif params[:article_id]  %>
        <h3>Découvez le <%= @regions.first.name %></h3>
        <% else %>
        <h3>Découvrez une région</h3>
        <% end %>
      </div>
      </div>
       <%= render partial: 'shared/mexico_map' %>
    </div>
    <div class="content-articles">
<!--       <h1 id="title-region">L'artisanat <#%= @region_name %></h1>
 --> <% if params[:article_id] %>
      <%= render partial: 'shared/article_show', locals: {article: @article} %>
      <% else %>
        <% if params[:region] %>
          <% if @articles.count == 0 %>
            Pas d'article pour l'instant !
          <% else %>
            <% @articles.each do |article| %>
              <%= render partial: 'shared/article_miniature', locals: {article: article} %>
            <% end %>
          <% end %>
        <% elsif params[:category] %>
          <% if @articles.count == 0 %>
            Pas d'article pour l'instant !
          <% else %>
            <% @articles.each do |article| %>
              <%= render partial: 'shared/article_miniature', locals: {article: article} %>
            <% end %>
          <% end %>
        <% else %>
          <% @all_articles.each do |article| %>
            <%= render partial: 'shared/article_miniature', locals: {article: article} %>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <% if params[:region] %>
      $('*[data-name="<%= params[:region] %>"]').addClass("state--selected");
    <% elsif params[:article_id] %>
      <% @regions.each do |region| %>
        $('#<%= region.code %>').addClass("state--selected");
      <% end %>
    <% end %>

    $(".map g").mouseover( function(){
      var regionName = $(this).data("region");
      $('#description-map-box').hide().html(regionName).fadeIn(100);
    });

    $(".map g").mouseout(function(){
      <% if params[:region] %>
      $('#description-map-box').html("<h3><%= params[:region] %></h3>");
      <% elsif params[:article_id]  %>
      $('#description-map-box').html("<h3>Découvrez le <%= @regions.first.name %></h3>");
      <% else %>
      $('#description-map-box').html("<h3>Découvrez une région</h3>");
      <% end %>
    });

    $(".map g g").on("click", function(){
      $(".map g g").removeClass("state--selected");
      $(this).addClass("state--selected");
      var regionNameh1 = $(this).data("name");
      console.log(regionNameh1);
      document.location = "/map" + "?region=" + regionNameh1;
    })

    $('.article-miniature').on("click", function(){
        var article_id = $(this).attr('id');
        document.location = "/map" + "?article_id=" + article_id;
    })

  <% end %>
<% end %>
