<%= render 'shared/navbar' %>

<div class="wrapper-contact" style="background-image:url('<%= cl_image_path("AQUARELLES/Soleil.png") %>');    background-repeat: no-repeat; background-size: 50%";>
  <h1>Envoyez-nous un mot doux</h1>
  <%= simple_form_for @contact do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Mon prénom</h4>
        <%= f.input :first_name, label: false %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4>Mon nom</h4>
        <%= f.input :last_name, label: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Mon e-mail</h4>
        <%= f.input :email, label: false %>
        <h4>J'ai envie de vous dire...</h4>
        <%= f.input :message, label: false %>
      </div>
    </div>
    <div class="row" style="text-align:center">
      <div class="col-xs-12">
        <%= f.button :submit, 'Vamos!', class:"bahia-btn", id:"new_message_btn" %>
      </div>
    </div>
  <% end %>
  <div id="thanks_message" style="display:none;">
    <h4 class="message-text">Merci !!</h4>
  </div>
  <div id="error_message" style="display:none;">
    <h4 class="message-text">Oups ! Petit problème, veuillez recommencer !</h4>
  </div>
</div>

<%= render 'shared/footer' %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('#new_message_btn').on("click", function(){
        var firstName = $('#contact_first_name').val();
        console.log(firstName);
        var lastName = $('#contact_last_name').val();
        console.log(lastName);
        var email = $('#contact_email').val();
        console.log(email);
        var message = $('#contact_message').val();
        console.log(message);
        $.ajax({
          type: "POST",
          url: "/contacts",
          data: { contact: { first_name: firstName, message: message,  last_name: lastName, email: email } },
          success:function(data){
                console.log("it is working!");
                $('#new_contact').css("display" , "none");
                $('#thanks_message').css("display", "block");
            },
          error:function(data){
            console.log("it is NOT working!");
            $('#error_message').css("display", "block");
          }
        });
      });
  <% end %>
<% end %>
