<%= render 'shared/navbar' %>

<div class="wrapper-contact" style="background-image:url('<%= cl_image_path("AQUARELLES/Soleil.png") %>');    background-repeat: no-repeat; background-size: 50%";>
  <h1>Envoyez-nous un mot doux</h1>
  <%= simple_form_for @contact do |f| %>
    <%= f.error_notification %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h4>Mon prénom</h4>
        <%= f.input :first_name, label: false %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h4>Mon nom</h4>
        <%= f.input :last_name, label: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Mon e-mail</h4>
        <%= f.input :email, label: false %>
        <h4>J'ai envie de vous dire...</h4>
        <%= f.input :message, label: false %>
      </div>
    </div>
    <div class="row" style="text-align:center">
      <div class="col-xs-12">
        <%= f.button :submit, 'Vamos!', class:"bahia-btn" %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'shared/footer' %>
